@charset "UTF-8";

/*mobile first*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: #008C72;
}

header{
    background-color: #007369;
    
}

header h1{
    padding: 10px;
    text-align: center;
}

#burguer{
    background-color: #005A5B;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    color: black;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}

menu li{
    display: inline;
    
}

menu a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: #003840;
    text-align: center;
    border-top: 2px solid #005A5B;
}

menu a:hover{
    background-color: #005A5B;
}


main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

main h2{
    padding: 0px 10px;
    background-image: linear-gradient(to right, rgba(29, 243, 29, 0.799), transparent);
    border-radius: 5px;
}

main p{
    padding-top: 10px;
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

main ul{
    list-style-type: none;
}